
html, body, #root {
  display: flex;
  text-align: center;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-image: url("/modern_background.jpg");
}